<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meicode.hotelbookingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelBookingApp">
        <activity
            android:name=".Third5Activity"
            android:exported="false" />
        <activity
            android:name=".Third4Activity"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity3"
            android:exported="false" />
        <activity
            android:name=".Third2Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThirdActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".Second2Activity" />
        <activity android:name=".Second3Activity" />
        <activity android:name=".Second4Activity" />
        <activity android:name=".Second5Activity" />
    </application>

</manifest>